/* @settings

name: Highlight styling
id: highlight-styling-settings
settings:
    -
        id: highlight-background
        title: Highlight Background Color
        type: variable-themed-color
        format: hsl
        opacity: true
        default-dark: hsla(33.26, 80%, 65.69%, 1)
        default-light: hsla(33.26, 80%, 75.69%, 1)
    -
        id: highlight-box-shadow-offset
        title: Highlight Box Shadow Offset
        type: variable-number
        format: px
        default: 2
*/

body {
  --highlight-box-shadow-offset: 2px;
  --is-flashing-bg: var(--text-highlight-bg);
}

body.theme-dark :is(.cm-s-obsidian, .markdown-rendered) {
  --text-highlight-bg: var(--highlight-background, hsl(33.26 80 65.69));
  --text-highlight-color: hsl(from var(--text-highlight-bg) h s calc(l - 60));
}

body.theme-light :is(.cm-s-obsidian, .markdown-rendered) {
  --text-highlight-bg: var(--highlight-background, hsl(33.26 80 75.69));
  --text-highlight-color: hsl(from var(--text-highlight-bg) h s calc(l - 60));
}

/* mark stylings in cm and rendered md */

.markdown-rendered mark,
.cm-s-obsidian span.cm-highlight,
.cm-s-obsidian span.cm-formatting-highlight {
  color: var(--text-highlight-color);
}

.markdown-rendered mark code,
.cm-s-obsidian .cm-highlight.cm-inline-code:not(.cm-formatting),
.cm-s-obsidian .cm-highlight.cm-inline-code.cm-formatting {
  background-color: hsl(from var(--text-highlight-bg) h s calc(l - 20));
  color: var(--text-highlight-color);
}

.markdown-rendered mark {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  /* original border radius values without the pseudo-random effect */
  /* border-radius: 0.8em 0.5em; */

  /* Combine drop shadow filter func and box shadow for a more pleasant effect */
  box-shadow: var(--highlight-box-shadow-offset) 0
      hsla(from var(--text-highlight-bg) h s l / 1),
    calc(-1 * var(--highlight-box-shadow-offset)) 0
      hsla(from var(--text-highlight-bg) h s l / 1);
  filter: drop-shadow(
      var(--highlight-box-shadow-offset) 0
        hsla(from var(--text-highlight-bg) h s l / 1)
    )
    drop-shadow(
      calc(-1 * var(--highlight-box-shadow-offset)) 0
        hsla(from var(--text-highlight-bg) h s l / 1)
    );
}

/* inline link colors */

.markdown-rendered mark .internal-link.is-unresolved {
  --link-unresolved-color: hsl(from var(--text-highlight-bg) h s calc(l - 50));
  --link-unresolved-decoration-color: var(----link-unresolved-color);
  /* color: var(--link-unresolved-color); */
  /* opacity: var(--link-unresolved-opacity); */
  /* filter: var(--link-unresolved-filter); */
  /* text-decoration-style: var(--link-unresolved-decoration-style); */
  /* text-decoration-color: var(--link-unresolved-decoration-color); */
}

@media (hover: hover) {
  .markdown-rendered mark .internal-link.is-unresolved:hover {
    --link-color-hover: hsl(from var(--text-highlight-bg) h s calc(l - 50));
    /* opacity: 1;
      color: var(--link-color-hover);
      text-decoration-color: var(--link-color-hover);
      text-decoration-line: var(--link-decoration-hover); */
  }
}

.markdown-rendered mark .external-link,
.markdown-source-view.mod-cm6 .cm-highlight.external-link {
  background-blend-mode: multiply;
}

.markdown-rendered mark a,
.markdown-rendered mark .internal-link,
.markdown-source-view.mod-cm6
  :is(
    .cm-highlight.cm-link,
    .cm-highlight.cm-url,
    .cm-formatting-highlight.cm-link,
    .cm-formatting-highlight.cm-url
  )
  .cm-underline {
  color: hsl(from var(--text-highlight-bg) h s calc(l - 50));
}
@media (hover: hover) {
  .markdown-rendered mark .internal-link:hover {
    --link-color-hover: hsl(from var(--text-highlight-bg) h s calc(l - 45));
  }
}
.markdown-rendered mark a:hover,
.markdown-source-view.mod-cm6
  :is(
    .cm-highlight.cm-link,
    .cm-highlight.cm-url,
    .cm-formatting-highlight.cm-link,
    .cm-formatting-highlight.cm-url
  )
  .cm-underline:hover {
  color: hsl(from var(--text-highlight-bg) h s calc(l - 45));
}

/* Table overflows */

.markdown-rendered tbody tr > td:has(mark),
.markdown-rendered thead tr > th:has(mark) {
  overflow: visible;
}

/* caret color for cm */

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  caret-color: #000;
}

/* retain original bg for flashing non-mark highlights */

.is-flashing {
  background-color: var(--is-flashing-bg, --text-highlight-bg) !important;
}

/* A very convoluted way of achieving randomness for the border radius values of the highlights */
/* see: https://hypersphere.blog/blog/randomness-in-css-using-trigonometry/ */

/* Also see https://webkit.org/blog/17285/rolling-the-dice-with-css-random/ and */
/*  http://chromestatus.com/feature/5324559251275776 for a proper CSS random() implementation */

:root {
  --seed: 354;
}

@property --x {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}

@property --y {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}

.markdown-rendered mark {
  --a: calc(0.5 + 0.5 * cos(var(--seed) * var(--n-divs) * 0.234 + var(--seed)));
  --b: calc(
    0.5 + 0.5 * cos(var(--seed) * var(--n-marks) * 432.32432 + var(--seed))
  );
  --c: calc(0.5 + 0.5 * cos(var(--seed) * var(--n-divs) * 333 + var(--seed)));
  --d: calc(0.5 + 0.5 * cos(var(--seed) * var(--n-marks) * 666 + var(--seed)));
  --x: round(calc(((var(--a) + var(--b)) / 2) * 5));
  --y: round(calc(((var(--c) + var(--d)) / 2) * 5));
  border-top-left-radius: clamp(0.3em, calc(0.3em + var(--x) * 0.1em), 0.8em);
  border-bottom-right-radius: clamp(
    0.3em,
    calc(0.3em + var(--x) * 0.1em),
    0.8em
  );
  border-top-right-radius: clamp(0.3em, calc(0.3em + var(--y) * 0.1em), 0.8em);
  border-bottom-left-radius: clamp(
    0.3em,
    calc(0.3em + var(--y) * 0.1em),
    0.8em
  );
}

/* GENERATED */
:root {
  --prime-factor-divs-2: 1;
  --prime-factor-divs-3: 1;
  --prime-factor-divs-5: 1;
  --prime-factor-divs-7: 1;
  --prime-factor-divs-11: 1;
  --prime-factor-divs-13: 1;
  --prime-factor-divs-17: 1;
  --prime-factor-divs-19: 1;
  --prime-factor-divs-23: 1;
  --prime-factor-divs-29: 1;
  --prime-factor-divs-31: 1;
  --prime-factor-divs-37: 1;
  --prime-factor-divs-41: 1;
  --prime-factor-divs-43: 1;
  --prime-factor-divs-47: 1;
  --prime-factor-divs-53: 1;
  --prime-factor-divs-59: 1;
  --prime-factor-divs-61: 1;
  --prime-factor-divs-67: 1;
  --prime-factor-divs-71: 1;
  --prime-factor-divs-73: 1;
  --prime-factor-divs-79: 1;
  --prime-factor-divs-83: 1;
  --prime-factor-divs-89: 1;
  --prime-factor-divs-97: 1;
  --prime-factor-divs-101: 1;
  --prime-factor-divs-103: 1;
  --prime-factor-divs-107: 1;
  --prime-factor-divs-109: 1;
  --prime-factor-divs-113: 1;
  --prime-factor-divs-127: 1;
  --prime-factor-divs-131: 1;
  --prime-factor-divs-137: 1;
  --prime-factor-divs-139: 1;
  --prime-factor-divs-149: 1;
  --prime-factor-divs-151: 1;
  --prime-factor-divs-157: 1;
  --prime-factor-divs-163: 1;
  --prime-factor-divs-167: 1;
  --prime-factor-divs-173: 1;
  --prime-factor-divs-179: 1;
  --prime-factor-divs-181: 1;
  --prime-factor-divs-191: 1;
  --prime-factor-divs-193: 1;
  --prime-factor-divs-197: 1;
  --prime-factor-divs-199: 1;
  --prime-factor-divs-211: 1;
  --prime-factor-divs-223: 1;
  --prime-factor-divs-227: 1;
  --prime-factor-divs-229: 1;
  --prime-factor-divs-233: 1;
  --prime-factor-divs-239: 1;
  --prime-factor-divs-241: 1;
  --prime-factor-divs-251: 1;
  --prime-factor-divs-257: 1;
  --prime-factor-divs-263: 1;
  --prime-factor-divs-269: 1;
  --prime-factor-divs-271: 1;
  --prime-factor-divs-277: 1;
  --prime-factor-divs-281: 1;
  --prime-factor-divs-283: 1;
  --prime-factor-divs-293: 1;
  --prime-factor-divs-307: 1;
  --prime-factor-divs-311: 1;
  --prime-factor-divs-313: 1;
  --prime-factor-divs-317: 1;
  --prime-factor-divs-331: 1;
  --prime-factor-divs-337: 1;
  --prime-factor-divs-347: 1;
  --prime-factor-divs-349: 1;
  --prime-factor-divs-353: 1;
  --prime-factor-divs-359: 1;
  --prime-factor-divs-367: 1;
  --prime-factor-divs-373: 1;
  --prime-factor-divs-379: 1;
  --prime-factor-divs-383: 1;
  --prime-factor-divs-389: 1;
  --prime-factor-divs-397: 1;
  --prime-factor-divs-401: 1;
  --prime-factor-divs-409: 1;
  --prime-factor-divs-419: 1;
  --prime-factor-divs-421: 1;
  --prime-factor-divs-431: 1;
  --prime-factor-divs-433: 1;
  --prime-factor-divs-439: 1;
  --prime-factor-divs-443: 1;
  --prime-factor-divs-449: 1;
  --prime-factor-divs-457: 1;
  --prime-factor-divs-461: 1;
  --prime-factor-divs-463: 1;
  --prime-factor-divs-467: 1;
  --prime-factor-divs-479: 1;
  --prime-factor-divs-487: 1;
  --prime-factor-divs-491: 1;
  --prime-factor-divs-499: 1;
}

.markdown-rendered div:nth-child(2n) {
  --prime-factor-divs-2: 2;
}

.markdown-rendered div:nth-child(4n) {
  --prime-factor-divs-2: 4;
}

.markdown-rendered div:nth-child(8n) {
  --prime-factor-divs-2: 8;
}

.markdown-rendered div:nth-child(16n) {
  --prime-factor-divs-2: 16;
}

.markdown-rendered div:nth-child(32n) {
  --prime-factor-divs-2: 32;
}

.markdown-rendered div:nth-child(64n) {
  --prime-factor-divs-2: 64;
}

.markdown-rendered div:nth-child(128n) {
  --prime-factor-divs-2: 128;
}

.markdown-rendered div:nth-child(256n) {
  --prime-factor-divs-2: 256;
}

.markdown-rendered div:nth-child(3n) {
  --prime-factor-divs-3: 3;
}

.markdown-rendered div:nth-child(9n) {
  --prime-factor-divs-3: 9;
}

.markdown-rendered div:nth-child(27n) {
  --prime-factor-divs-3: 27;
}

.markdown-rendered div:nth-child(81n) {
  --prime-factor-divs-3: 81;
}

.markdown-rendered div:nth-child(243n) {
  --prime-factor-divs-3: 243;
}

.markdown-rendered div:nth-child(5n) {
  --prime-factor-divs-5: 5;
}

.markdown-rendered div:nth-child(25n) {
  --prime-factor-divs-5: 25;
}

.markdown-rendered div:nth-child(125n) {
  --prime-factor-divs-5: 125;
}

.markdown-rendered div:nth-child(7n) {
  --prime-factor-divs-7: 7;
}

.markdown-rendered div:nth-child(49n) {
  --prime-factor-divs-7: 49;
}

.markdown-rendered div:nth-child(343n) {
  --prime-factor-divs-7: 343;
}

.markdown-rendered div:nth-child(11n) {
  --prime-factor-divs-11: 11;
}

.markdown-rendered div:nth-child(121n) {
  --prime-factor-divs-11: 121;
}

.markdown-rendered div:nth-child(13n) {
  --prime-factor-divs-13: 13;
}

.markdown-rendered div:nth-child(169n) {
  --prime-factor-divs-13: 169;
}

.markdown-rendered div:nth-child(17n) {
  --prime-factor-divs-17: 17;
}

.markdown-rendered div:nth-child(289n) {
  --prime-factor-divs-17: 289;
}

.markdown-rendered div:nth-child(19n) {
  --prime-factor-divs-19: 19;
}

.markdown-rendered div:nth-child(361n) {
  --prime-factor-divs-19: 361;
}

.markdown-rendered div:nth-child(23n) {
  --prime-factor-divs-23: 23;
}

.markdown-rendered div:nth-child(29n) {
  --prime-factor-divs-29: 29;
}

.markdown-rendered div:nth-child(31n) {
  --prime-factor-divs-31: 31;
}

.markdown-rendered div:nth-child(37n) {
  --prime-factor-divs-37: 37;
}

.markdown-rendered div:nth-child(41n) {
  --prime-factor-divs-41: 41;
}

.markdown-rendered div:nth-child(43n) {
  --prime-factor-divs-43: 43;
}

.markdown-rendered div:nth-child(47n) {
  --prime-factor-divs-47: 47;
}

.markdown-rendered div:nth-child(53n) {
  --prime-factor-divs-53: 53;
}

.markdown-rendered div:nth-child(59n) {
  --prime-factor-divs-59: 59;
}

.markdown-rendered div:nth-child(61n) {
  --prime-factor-divs-61: 61;
}

.markdown-rendered div:nth-child(67n) {
  --prime-factor-divs-67: 67;
}

.markdown-rendered div:nth-child(71n) {
  --prime-factor-divs-71: 71;
}

.markdown-rendered div:nth-child(73n) {
  --prime-factor-divs-73: 73;
}

.markdown-rendered div:nth-child(79n) {
  --prime-factor-divs-79: 79;
}

.markdown-rendered div:nth-child(83n) {
  --prime-factor-divs-83: 83;
}

.markdown-rendered div:nth-child(89n) {
  --prime-factor-divs-89: 89;
}

.markdown-rendered div:nth-child(97n) {
  --prime-factor-divs-97: 97;
}

.markdown-rendered div:nth-child(101n) {
  --prime-factor-divs-101: 101;
}

.markdown-rendered div:nth-child(103n) {
  --prime-factor-divs-103: 103;
}

.markdown-rendered div:nth-child(107n) {
  --prime-factor-divs-107: 107;
}

.markdown-rendered div:nth-child(109n) {
  --prime-factor-divs-109: 109;
}

.markdown-rendered div:nth-child(113n) {
  --prime-factor-divs-113: 113;
}

.markdown-rendered div:nth-child(127n) {
  --prime-factor-divs-127: 127;
}

.markdown-rendered div:nth-child(131n) {
  --prime-factor-divs-131: 131;
}

.markdown-rendered div:nth-child(137n) {
  --prime-factor-divs-137: 137;
}

.markdown-rendered div:nth-child(139n) {
  --prime-factor-divs-139: 139;
}

.markdown-rendered div:nth-child(149n) {
  --prime-factor-divs-149: 149;
}

.markdown-rendered div:nth-child(151n) {
  --prime-factor-divs-151: 151;
}

.markdown-rendered div:nth-child(157n) {
  --prime-factor-divs-157: 157;
}

.markdown-rendered div:nth-child(163n) {
  --prime-factor-divs-163: 163;
}

.markdown-rendered div:nth-child(167n) {
  --prime-factor-divs-167: 167;
}

.markdown-rendered div:nth-child(173n) {
  --prime-factor-divs-173: 173;
}

.markdown-rendered div:nth-child(179n) {
  --prime-factor-divs-179: 179;
}

.markdown-rendered div:nth-child(181n) {
  --prime-factor-divs-181: 181;
}

.markdown-rendered div:nth-child(191n) {
  --prime-factor-divs-191: 191;
}

.markdown-rendered div:nth-child(193n) {
  --prime-factor-divs-193: 193;
}

.markdown-rendered div:nth-child(197n) {
  --prime-factor-divs-197: 197;
}

.markdown-rendered div:nth-child(199n) {
  --prime-factor-divs-199: 199;
}

.markdown-rendered div:nth-child(211n) {
  --prime-factor-divs-211: 211;
}

.markdown-rendered div:nth-child(223n) {
  --prime-factor-divs-223: 223;
}

.markdown-rendered div:nth-child(227n) {
  --prime-factor-divs-227: 227;
}

.markdown-rendered div:nth-child(229n) {
  --prime-factor-divs-229: 229;
}

.markdown-rendered div:nth-child(233n) {
  --prime-factor-divs-233: 233;
}

.markdown-rendered div:nth-child(239n) {
  --prime-factor-divs-239: 239;
}

.markdown-rendered div:nth-child(241n) {
  --prime-factor-divs-241: 241;
}

.markdown-rendered div:nth-child(251n) {
  --prime-factor-divs-251: 251;
}

.markdown-rendered div:nth-child(257n) {
  --prime-factor-divs-257: 257;
}

.markdown-rendered div:nth-child(263n) {
  --prime-factor-divs-263: 263;
}

.markdown-rendered div:nth-child(269n) {
  --prime-factor-divs-269: 269;
}

.markdown-rendered div:nth-child(271n) {
  --prime-factor-divs-271: 271;
}

.markdown-rendered div:nth-child(277n) {
  --prime-factor-divs-277: 277;
}

.markdown-rendered div:nth-child(281n) {
  --prime-factor-divs-281: 281;
}

.markdown-rendered div:nth-child(283n) {
  --prime-factor-divs-283: 283;
}

.markdown-rendered div:nth-child(293n) {
  --prime-factor-divs-293: 293;
}

.markdown-rendered div:nth-child(307n) {
  --prime-factor-divs-307: 307;
}

.markdown-rendered div:nth-child(311n) {
  --prime-factor-divs-311: 311;
}

.markdown-rendered div:nth-child(313n) {
  --prime-factor-divs-313: 313;
}

.markdown-rendered div:nth-child(317n) {
  --prime-factor-divs-317: 317;
}

.markdown-rendered div:nth-child(331n) {
  --prime-factor-divs-331: 331;
}

.markdown-rendered div:nth-child(337n) {
  --prime-factor-divs-337: 337;
}

.markdown-rendered div:nth-child(347n) {
  --prime-factor-divs-347: 347;
}

.markdown-rendered div:nth-child(349n) {
  --prime-factor-divs-349: 349;
}

.markdown-rendered div:nth-child(353n) {
  --prime-factor-divs-353: 353;
}

.markdown-rendered div:nth-child(359n) {
  --prime-factor-divs-359: 359;
}

.markdown-rendered div:nth-child(367n) {
  --prime-factor-divs-367: 367;
}

.markdown-rendered div:nth-child(373n) {
  --prime-factor-divs-373: 373;
}

.markdown-rendered div:nth-child(379n) {
  --prime-factor-divs-379: 379;
}

.markdown-rendered div:nth-child(383n) {
  --prime-factor-divs-383: 383;
}

.markdown-rendered div:nth-child(389n) {
  --prime-factor-divs-389: 389;
}

.markdown-rendered div:nth-child(397n) {
  --prime-factor-divs-397: 397;
}

.markdown-rendered div:nth-child(401n) {
  --prime-factor-divs-401: 401;
}

.markdown-rendered div:nth-child(409n) {
  --prime-factor-divs-409: 409;
}

.markdown-rendered div:nth-child(419n) {
  --prime-factor-divs-419: 419;
}

.markdown-rendered div:nth-child(421n) {
  --prime-factor-divs-421: 421;
}

.markdown-rendered div:nth-child(431n) {
  --prime-factor-divs-431: 431;
}

.markdown-rendered div:nth-child(433n) {
  --prime-factor-divs-433: 433;
}

.markdown-rendered div:nth-child(439n) {
  --prime-factor-divs-439: 439;
}

.markdown-rendered div:nth-child(443n) {
  --prime-factor-divs-443: 443;
}

.markdown-rendered div:nth-child(449n) {
  --prime-factor-divs-449: 449;
}

.markdown-rendered div:nth-child(457n) {
  --prime-factor-divs-457: 457;
}

.markdown-rendered div:nth-child(461n) {
  --prime-factor-divs-461: 461;
}

.markdown-rendered div:nth-child(463n) {
  --prime-factor-divs-463: 463;
}

.markdown-rendered div:nth-child(467n) {
  --prime-factor-divs-467: 467;
}

.markdown-rendered div:nth-child(479n) {
  --prime-factor-divs-479: 479;
}

.markdown-rendered div:nth-child(487n) {
  --prime-factor-divs-487: 487;
}

.markdown-rendered div:nth-child(491n) {
  --prime-factor-divs-491: 491;
}

.markdown-rendered div:nth-child(499n) {
  --prime-factor-divs-499: 499;
}

.markdown-rendered div {
  --n-divs: calc(
    1 * var(--prime-factor-divs-2) * var(--prime-factor-divs-3) *
      var(--prime-factor-divs-5) * var(--prime-factor-divs-7) *
      var(--prime-factor-divs-11) * var(--prime-factor-divs-13) *
      var(--prime-factor-divs-17) * var(--prime-factor-divs-19) *
      var(--prime-factor-divs-23) * var(--prime-factor-divs-29) *
      var(--prime-factor-divs-31) * var(--prime-factor-divs-37) *
      var(--prime-factor-divs-41) * var(--prime-factor-divs-43) *
      var(--prime-factor-divs-47) * var(--prime-factor-divs-53) *
      var(--prime-factor-divs-59) * var(--prime-factor-divs-61) *
      var(--prime-factor-divs-67) * var(--prime-factor-divs-71) *
      var(--prime-factor-divs-73) * var(--prime-factor-divs-79) *
      var(--prime-factor-divs-83) * var(--prime-factor-divs-89) *
      var(--prime-factor-divs-97) * var(--prime-factor-divs-101) *
      var(--prime-factor-divs-103) * var(--prime-factor-divs-107) *
      var(--prime-factor-divs-109) * var(--prime-factor-divs-113) *
      var(--prime-factor-divs-127) * var(--prime-factor-divs-131) *
      var(--prime-factor-divs-137) * var(--prime-factor-divs-139) *
      var(--prime-factor-divs-149) * var(--prime-factor-divs-151) *
      var(--prime-factor-divs-157) * var(--prime-factor-divs-163) *
      var(--prime-factor-divs-167) * var(--prime-factor-divs-173) *
      var(--prime-factor-divs-179) * var(--prime-factor-divs-181) *
      var(--prime-factor-divs-191) * var(--prime-factor-divs-193) *
      var(--prime-factor-divs-197) * var(--prime-factor-divs-199) *
      var(--prime-factor-divs-211) * var(--prime-factor-divs-223) *
      var(--prime-factor-divs-227) * var(--prime-factor-divs-229) *
      var(--prime-factor-divs-233) * var(--prime-factor-divs-239) *
      var(--prime-factor-divs-241) * var(--prime-factor-divs-251) *
      var(--prime-factor-divs-257) * var(--prime-factor-divs-263) *
      var(--prime-factor-divs-269) * var(--prime-factor-divs-271) *
      var(--prime-factor-divs-277) * var(--prime-factor-divs-281) *
      var(--prime-factor-divs-283) * var(--prime-factor-divs-293) *
      var(--prime-factor-divs-307) * var(--prime-factor-divs-311) *
      var(--prime-factor-divs-313) * var(--prime-factor-divs-317) *
      var(--prime-factor-divs-331) * var(--prime-factor-divs-337) *
      var(--prime-factor-divs-347) * var(--prime-factor-divs-349) *
      var(--prime-factor-divs-353) * var(--prime-factor-divs-359) *
      var(--prime-factor-divs-367) * var(--prime-factor-divs-373) *
      var(--prime-factor-divs-379) * var(--prime-factor-divs-383) *
      var(--prime-factor-divs-389) * var(--prime-factor-divs-397) *
      var(--prime-factor-divs-401) * var(--prime-factor-divs-409) *
      var(--prime-factor-divs-419) * var(--prime-factor-divs-421) *
      var(--prime-factor-divs-431) * var(--prime-factor-divs-433) *
      var(--prime-factor-divs-439) * var(--prime-factor-divs-443) *
      var(--prime-factor-divs-449) * var(--prime-factor-divs-457) *
      var(--prime-factor-divs-461) * var(--prime-factor-divs-463) *
      var(--prime-factor-divs-467) * var(--prime-factor-divs-479) *
      var(--prime-factor-divs-487) * var(--prime-factor-divs-491) *
      var(--prime-factor-divs-499)
  );
}

:root {
  --prime-factor-marks-2: 1;
  --prime-factor-marks-3: 1;
  --prime-factor-marks-5: 1;
  --prime-factor-marks-7: 1;
  --prime-factor-marks-11: 1;
  --prime-factor-marks-13: 1;
  --prime-factor-marks-17: 1;
  --prime-factor-marks-19: 1;
  --prime-factor-marks-23: 1;
  --prime-factor-marks-29: 1;
  --prime-factor-marks-31: 1;
  --prime-factor-marks-37: 1;
  --prime-factor-marks-41: 1;
  --prime-factor-marks-43: 1;
  --prime-factor-marks-47: 1;
  --prime-factor-marks-53: 1;
  --prime-factor-marks-59: 1;
  --prime-factor-marks-61: 1;
  --prime-factor-marks-67: 1;
  --prime-factor-marks-71: 1;
  --prime-factor-marks-73: 1;
  --prime-factor-marks-79: 1;
  --prime-factor-marks-83: 1;
  --prime-factor-marks-89: 1;
  --prime-factor-marks-97: 1;
  --prime-factor-marks-101: 1;
  --prime-factor-marks-103: 1;
  --prime-factor-marks-107: 1;
  --prime-factor-marks-109: 1;
  --prime-factor-marks-113: 1;
  --prime-factor-marks-127: 1;
  --prime-factor-marks-131: 1;
  --prime-factor-marks-137: 1;
  --prime-factor-marks-139: 1;
  --prime-factor-marks-149: 1;
  --prime-factor-marks-151: 1;
  --prime-factor-marks-157: 1;
  --prime-factor-marks-163: 1;
  --prime-factor-marks-167: 1;
  --prime-factor-marks-173: 1;
  --prime-factor-marks-179: 1;
  --prime-factor-marks-181: 1;
  --prime-factor-marks-191: 1;
  --prime-factor-marks-193: 1;
  --prime-factor-marks-197: 1;
  --prime-factor-marks-199: 1;
  --prime-factor-marks-211: 1;
  --prime-factor-marks-223: 1;
  --prime-factor-marks-227: 1;
  --prime-factor-marks-229: 1;
  --prime-factor-marks-233: 1;
  --prime-factor-marks-239: 1;
  --prime-factor-marks-241: 1;
  --prime-factor-marks-251: 1;
  --prime-factor-marks-257: 1;
  --prime-factor-marks-263: 1;
  --prime-factor-marks-269: 1;
  --prime-factor-marks-271: 1;
  --prime-factor-marks-277: 1;
  --prime-factor-marks-281: 1;
  --prime-factor-marks-283: 1;
  --prime-factor-marks-293: 1;
  --prime-factor-marks-307: 1;
  --prime-factor-marks-311: 1;
  --prime-factor-marks-313: 1;
  --prime-factor-marks-317: 1;
  --prime-factor-marks-331: 1;
  --prime-factor-marks-337: 1;
  --prime-factor-marks-347: 1;
  --prime-factor-marks-349: 1;
  --prime-factor-marks-353: 1;
  --prime-factor-marks-359: 1;
  --prime-factor-marks-367: 1;
  --prime-factor-marks-373: 1;
  --prime-factor-marks-379: 1;
  --prime-factor-marks-383: 1;
  --prime-factor-marks-389: 1;
  --prime-factor-marks-397: 1;
  --prime-factor-marks-401: 1;
  --prime-factor-marks-409: 1;
  --prime-factor-marks-419: 1;
  --prime-factor-marks-421: 1;
  --prime-factor-marks-431: 1;
  --prime-factor-marks-433: 1;
  --prime-factor-marks-439: 1;
  --prime-factor-marks-443: 1;
  --prime-factor-marks-449: 1;
  --prime-factor-marks-457: 1;
  --prime-factor-marks-461: 1;
  --prime-factor-marks-463: 1;
  --prime-factor-marks-467: 1;
  --prime-factor-marks-479: 1;
  --prime-factor-marks-487: 1;
  --prime-factor-marks-491: 1;
  --prime-factor-marks-499: 1;
}

mark:nth-child(2n) {
  --prime-factor-marks-2: 2;
}

mark:nth-child(4n) {
  --prime-factor-marks-2: 4;
}

mark:nth-child(8n) {
  --prime-factor-marks-2: 8;
}

mark:nth-child(16n) {
  --prime-factor-marks-2: 16;
}

mark:nth-child(32n) {
  --prime-factor-marks-2: 32;
}

mark:nth-child(64n) {
  --prime-factor-marks-2: 64;
}

mark:nth-child(128n) {
  --prime-factor-marks-2: 128;
}

mark:nth-child(256n) {
  --prime-factor-marks-2: 256;
}

mark:nth-child(3n) {
  --prime-factor-marks-3: 3;
}

mark:nth-child(9n) {
  --prime-factor-marks-3: 9;
}

mark:nth-child(27n) {
  --prime-factor-marks-3: 27;
}

mark:nth-child(81n) {
  --prime-factor-marks-3: 81;
}

mark:nth-child(243n) {
  --prime-factor-marks-3: 243;
}

mark:nth-child(5n) {
  --prime-factor-marks-5: 5;
}

mark:nth-child(25n) {
  --prime-factor-marks-5: 25;
}

mark:nth-child(125n) {
  --prime-factor-marks-5: 125;
}

mark:nth-child(7n) {
  --prime-factor-marks-7: 7;
}

mark:nth-child(49n) {
  --prime-factor-marks-7: 49;
}

mark:nth-child(343n) {
  --prime-factor-marks-7: 343;
}

mark:nth-child(11n) {
  --prime-factor-marks-11: 11;
}

mark:nth-child(121n) {
  --prime-factor-marks-11: 121;
}

mark:nth-child(13n) {
  --prime-factor-marks-13: 13;
}

mark:nth-child(169n) {
  --prime-factor-marks-13: 169;
}

mark:nth-child(17n) {
  --prime-factor-marks-17: 17;
}

mark:nth-child(289n) {
  --prime-factor-marks-17: 289;
}

mark:nth-child(19n) {
  --prime-factor-marks-19: 19;
}

mark:nth-child(361n) {
  --prime-factor-marks-19: 361;
}

mark:nth-child(23n) {
  --prime-factor-marks-23: 23;
}

mark:nth-child(29n) {
  --prime-factor-marks-29: 29;
}

mark:nth-child(31n) {
  --prime-factor-marks-31: 31;
}

mark:nth-child(37n) {
  --prime-factor-marks-37: 37;
}

mark:nth-child(41n) {
  --prime-factor-marks-41: 41;
}

mark:nth-child(43n) {
  --prime-factor-marks-43: 43;
}

mark:nth-child(47n) {
  --prime-factor-marks-47: 47;
}

mark:nth-child(53n) {
  --prime-factor-marks-53: 53;
}

mark:nth-child(59n) {
  --prime-factor-marks-59: 59;
}

mark:nth-child(61n) {
  --prime-factor-marks-61: 61;
}

mark:nth-child(67n) {
  --prime-factor-marks-67: 67;
}

mark:nth-child(71n) {
  --prime-factor-marks-71: 71;
}

mark:nth-child(73n) {
  --prime-factor-marks-73: 73;
}

mark:nth-child(79n) {
  --prime-factor-marks-79: 79;
}

mark:nth-child(83n) {
  --prime-factor-marks-83: 83;
}

mark:nth-child(89n) {
  --prime-factor-marks-89: 89;
}

mark:nth-child(97n) {
  --prime-factor-marks-97: 97;
}

mark:nth-child(101n) {
  --prime-factor-marks-101: 101;
}

mark:nth-child(103n) {
  --prime-factor-marks-103: 103;
}

mark:nth-child(107n) {
  --prime-factor-marks-107: 107;
}

mark:nth-child(109n) {
  --prime-factor-marks-109: 109;
}

mark:nth-child(113n) {
  --prime-factor-marks-113: 113;
}

mark:nth-child(127n) {
  --prime-factor-marks-127: 127;
}

mark:nth-child(131n) {
  --prime-factor-marks-131: 131;
}

mark:nth-child(137n) {
  --prime-factor-marks-137: 137;
}

mark:nth-child(139n) {
  --prime-factor-marks-139: 139;
}

mark:nth-child(149n) {
  --prime-factor-marks-149: 149;
}

mark:nth-child(151n) {
  --prime-factor-marks-151: 151;
}

mark:nth-child(157n) {
  --prime-factor-marks-157: 157;
}

mark:nth-child(163n) {
  --prime-factor-marks-163: 163;
}

mark:nth-child(167n) {
  --prime-factor-marks-167: 167;
}

mark:nth-child(173n) {
  --prime-factor-marks-173: 173;
}

mark:nth-child(179n) {
  --prime-factor-marks-179: 179;
}

mark:nth-child(181n) {
  --prime-factor-marks-181: 181;
}

mark:nth-child(191n) {
  --prime-factor-marks-191: 191;
}

mark:nth-child(193n) {
  --prime-factor-marks-193: 193;
}

mark:nth-child(197n) {
  --prime-factor-marks-197: 197;
}

mark:nth-child(199n) {
  --prime-factor-marks-199: 199;
}

mark:nth-child(211n) {
  --prime-factor-marks-211: 211;
}

mark:nth-child(223n) {
  --prime-factor-marks-223: 223;
}

mark:nth-child(227n) {
  --prime-factor-marks-227: 227;
}

mark:nth-child(229n) {
  --prime-factor-marks-229: 229;
}

mark:nth-child(233n) {
  --prime-factor-marks-233: 233;
}

mark:nth-child(239n) {
  --prime-factor-marks-239: 239;
}

mark:nth-child(241n) {
  --prime-factor-marks-241: 241;
}

mark:nth-child(251n) {
  --prime-factor-marks-251: 251;
}

mark:nth-child(257n) {
  --prime-factor-marks-257: 257;
}

mark:nth-child(263n) {
  --prime-factor-marks-263: 263;
}

mark:nth-child(269n) {
  --prime-factor-marks-269: 269;
}

mark:nth-child(271n) {
  --prime-factor-marks-271: 271;
}

mark:nth-child(277n) {
  --prime-factor-marks-277: 277;
}

mark:nth-child(281n) {
  --prime-factor-marks-281: 281;
}

mark:nth-child(283n) {
  --prime-factor-marks-283: 283;
}

mark:nth-child(293n) {
  --prime-factor-marks-293: 293;
}

mark:nth-child(307n) {
  --prime-factor-marks-307: 307;
}

mark:nth-child(311n) {
  --prime-factor-marks-311: 311;
}

mark:nth-child(313n) {
  --prime-factor-marks-313: 313;
}

mark:nth-child(317n) {
  --prime-factor-marks-317: 317;
}

mark:nth-child(331n) {
  --prime-factor-marks-331: 331;
}

mark:nth-child(337n) {
  --prime-factor-marks-337: 337;
}

mark:nth-child(347n) {
  --prime-factor-marks-347: 347;
}

mark:nth-child(349n) {
  --prime-factor-marks-349: 349;
}

mark:nth-child(353n) {
  --prime-factor-marks-353: 353;
}

mark:nth-child(359n) {
  --prime-factor-marks-359: 359;
}

mark:nth-child(367n) {
  --prime-factor-marks-367: 367;
}

mark:nth-child(373n) {
  --prime-factor-marks-373: 373;
}

mark:nth-child(379n) {
  --prime-factor-marks-379: 379;
}

mark:nth-child(383n) {
  --prime-factor-marks-383: 383;
}

mark:nth-child(389n) {
  --prime-factor-marks-389: 389;
}

mark:nth-child(397n) {
  --prime-factor-marks-397: 397;
}

mark:nth-child(401n) {
  --prime-factor-marks-401: 401;
}

mark:nth-child(409n) {
  --prime-factor-marks-409: 409;
}

mark:nth-child(419n) {
  --prime-factor-marks-419: 419;
}

mark:nth-child(421n) {
  --prime-factor-marks-421: 421;
}

mark:nth-child(431n) {
  --prime-factor-marks-431: 431;
}

mark:nth-child(433n) {
  --prime-factor-marks-433: 433;
}

mark:nth-child(439n) {
  --prime-factor-marks-439: 439;
}

mark:nth-child(443n) {
  --prime-factor-marks-443: 443;
}

mark:nth-child(449n) {
  --prime-factor-marks-449: 449;
}

mark:nth-child(457n) {
  --prime-factor-marks-457: 457;
}

mark:nth-child(461n) {
  --prime-factor-marks-461: 461;
}

mark:nth-child(463n) {
  --prime-factor-marks-463: 463;
}

mark:nth-child(467n) {
  --prime-factor-marks-467: 467;
}

mark:nth-child(479n) {
  --prime-factor-marks-479: 479;
}

mark:nth-child(487n) {
  --prime-factor-marks-487: 487;
}

mark:nth-child(491n) {
  --prime-factor-marks-491: 491;
}

mark:nth-child(499n) {
  --prime-factor-marks-499: 499;
}

mark {
  --n-marks: calc(
    1 * var(--prime-factor-marks-2) * var(--prime-factor-marks-3) *
      var(--prime-factor-marks-5) * var(--prime-factor-marks-7) *
      var(--prime-factor-marks-11) * var(--prime-factor-marks-13) *
      var(--prime-factor-marks-17) * var(--prime-factor-marks-19) *
      var(--prime-factor-marks-23) * var(--prime-factor-marks-29) *
      var(--prime-factor-marks-31) * var(--prime-factor-marks-37) *
      var(--prime-factor-marks-41) * var(--prime-factor-marks-43) *
      var(--prime-factor-marks-47) * var(--prime-factor-marks-53) *
      var(--prime-factor-marks-59) * var(--prime-factor-marks-61) *
      var(--prime-factor-marks-67) * var(--prime-factor-marks-71) *
      var(--prime-factor-marks-73) * var(--prime-factor-marks-79) *
      var(--prime-factor-marks-83) * var(--prime-factor-marks-89) *
      var(--prime-factor-marks-97) * var(--prime-factor-marks-101) *
      var(--prime-factor-marks-103) * var(--prime-factor-marks-107) *
      var(--prime-factor-marks-109) * var(--prime-factor-marks-113) *
      var(--prime-factor-marks-127) * var(--prime-factor-marks-131) *
      var(--prime-factor-marks-137) * var(--prime-factor-marks-139) *
      var(--prime-factor-marks-149) * var(--prime-factor-marks-151) *
      var(--prime-factor-marks-157) * var(--prime-factor-marks-163) *
      var(--prime-factor-marks-167) * var(--prime-factor-marks-173) *
      var(--prime-factor-marks-179) * var(--prime-factor-marks-181) *
      var(--prime-factor-marks-191) * var(--prime-factor-marks-193) *
      var(--prime-factor-marks-197) * var(--prime-factor-marks-199) *
      var(--prime-factor-marks-211) * var(--prime-factor-marks-223) *
      var(--prime-factor-marks-227) * var(--prime-factor-marks-229) *
      var(--prime-factor-marks-233) * var(--prime-factor-marks-239) *
      var(--prime-factor-marks-241) * var(--prime-factor-marks-251) *
      var(--prime-factor-marks-257) * var(--prime-factor-marks-263) *
      var(--prime-factor-marks-269) * var(--prime-factor-marks-271) *
      var(--prime-factor-marks-277) * var(--prime-factor-marks-281) *
      var(--prime-factor-marks-283) * var(--prime-factor-marks-293) *
      var(--prime-factor-marks-307) * var(--prime-factor-marks-311) *
      var(--prime-factor-marks-313) * var(--prime-factor-marks-317) *
      var(--prime-factor-marks-331) * var(--prime-factor-marks-337) *
      var(--prime-factor-marks-347) * var(--prime-factor-marks-349) *
      var(--prime-factor-marks-353) * var(--prime-factor-marks-359) *
      var(--prime-factor-marks-367) * var(--prime-factor-marks-373) *
      var(--prime-factor-marks-379) * var(--prime-factor-marks-383) *
      var(--prime-factor-marks-389) * var(--prime-factor-marks-397) *
      var(--prime-factor-marks-401) * var(--prime-factor-marks-409) *
      var(--prime-factor-marks-419) * var(--prime-factor-marks-421) *
      var(--prime-factor-marks-431) * var(--prime-factor-marks-433) *
      var(--prime-factor-marks-439) * var(--prime-factor-marks-443) *
      var(--prime-factor-marks-449) * var(--prime-factor-marks-457) *
      var(--prime-factor-marks-461) * var(--prime-factor-marks-463) *
      var(--prime-factor-marks-467) * var(--prime-factor-marks-479) *
      var(--prime-factor-marks-487) * var(--prime-factor-marks-491) *
      var(--prime-factor-marks-499)
  );
}
